@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
textarea {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  background: #ffffff;
  border-width: 1px;
  border-bottom-style: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #ff4d4f;
}
